<div class="row">
<%= form_tag('flights/bookings/new', method: "post", class: "form-inline") do %>
<table class="table table-striped">
<thead>
  <tr>
    <th>Select</th>
    <th>Flight</th>
    <th>Date</th>
    <th>Departs</th>
    <th>From</th>
    <th>To</th>
    <th>Duration</th>
  </tr>
</thead>
<tbody>
  <% @flights.each do |f| %>
  <tr>
    <td><%= radio_button_tag(:flight_id, f.id, class: 'form-control') %></td>
    <td><%= f.id %></td>
    <td><%= f.start_time.strftime("%B %e, %Y") %></td>
    <td><%= f.start_time.strftime("%l:%M %p") %></td>
    <td><%= f.from_airport.code %></td>
    <td><%= f.to_airport.code %></td>
    <td><%= time_ago_in_words(Time.now + f.duration) %></td>
  </tr>
  <% end %>
</tbody>
</table>
  <%= submit_tag("Select Flight",  class: "btn btn-primary") %>
  <%= hidden_field_tag(:num_passengers, params[:num_passengers]) %>

<% end %>
</div>